.main {
  padding: 0 0 2em;

  .container {
    display: grid;
    grid-template-rows: 400px 1fr;
  }

  &__info {
    grid-row-start: 2;

    span:nth-child(2) {
      letter-spacing: 2.8px;
    }
  }

  &__uppercase {
    text-transform: uppercase;
    font-family: "Barlow Condensed", sans-serif;
    &--bold {
      background: var(--Very-Dark-Blue);
      margin-right: 0.8em;
      padding: 0.2em 0.6em;
      border-radius: 25px;
      color: var(--Light-Grayish-Blue);
      font-weight: 700;
    }

    &--normal {
      color: var(--Grayish-Blue);
      font-size: 1em;
      font-weight: 400;
    }
  }

  &__image {
    grid-row-start: 1;
    position: relative;
    img {
      position: absolute;
      left: -6%;
      top: 12%;
    }
  }

  &__title {
    margin: 0.4em 0;
    color: var(--Very-Dark-Blue);
    font-size: 2.2em;
  }

  &__text {
    width: 86%;
    margin-bottom: 2em;
    color: var(--Dark-Grayish-Blue);
    font-size: 1em;
  }

  &__button {
    background: var(--Red);
    margin-right: 1em;
    padding: 0.5em 1.5em;
    border: none;
    border-radius: 4px;
    color: var(--Light-Grayish-Blue);
    font-size: 0.9em;
  }

  @media only screen and (min-width: 768px) {
    &__image {
      img {
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
      }
    }
  }

  @media only screen and (min-width: 1440px) {
    .main {
      padding-top: 6em;
    }
    .container {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: calc(115vh - 100px);
      align-items: center;
    }

    &__info {
      grid-column-start: 1;
      grid-row-start: 1;
      text-align: left;
      margin-bottom: 5em;
      span:nth-child(2) {
        letter-spacing: 4.6px;
      }
    }

    &__image {
      grid-column-start: 2;
      grid-row-start: 1;
      img {
        width: 940px;
        height: auto;
        bottom: 70px;
        left: 14%;
      }
    }

    &__title {
      font-size: 3.8em;
    }

    &__text {
      width: 55%;
      font-size: 1.2em;
    }

    &__uppercase--normal {
      letter-spacing: 2px;
    }

    &__button {
      font-size: 1.2em;
      font-weight: 700;
    }
  }
}
